.stacking-container {
  height: 100vh;
  width: 100%;
  display: grid;
  place-items: center;
  counter-reset: checkCounter;
}

.stacking-container .phone {
  position: relative;
  border: 8px solid black;
  border-radius: 40px;
  height: 600px;
  width: 300px;
  background-color: #ccefff;
  box-shadow: 0 19px 38px rgb(0, 0, 0, 0.3), 0 15px 12px rgb(0, 0, 0, 0.22);
  overflow: hidden;
}

.stacking-container .layer {
  position: absolute;
}

.stacking-container .layer-1 {
  z-index: 1;
  height: 490px;
  width: 150px;
  background-image: url('../../assets/goomba.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top;
  bottom: 0;
  right: 10px;
  /* Animation */
  animation-name: layer1;
  animation-duration: 2.2s;
  /* Aceleración */
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

@keyframes layer1 {
  0% {
    bottom: 0px;
  }
  25% {
    bottom: -72px;
  }
  100% {
    bottom: 0px;
  }
}

.layer input[type=checkbox] {
  width: 60px;
  height: 60px;
  position: absolute;
  left: 45px;
  top: 45px;
  cursor: pointer;
  z-index: 1;
  appearance: none;
}

/* Counter */
.layer input:checked {
  counter-increment: checkCounter;
}

.stacking-container .score::after {
  content: counter(checkCounter);
}

.stacking-container .score {
  margin-left: 20px;
}

.stacking-container .layer-2 {
  z-index: 2;
  height: 490px;
  width: 150px;
  background-image: url('../../assets/goomba.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top;
  bottom: 0;
  left: 40px;
  /* Animation */
  animation-name: layer2;
  animation-duration: 1.7s;
  /* Aceleración */
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

@keyframes layer2 {
  0% {
    bottom: 0px;
  }
  25% {
    bottom: -72px;
  }
  100% {
    bottom: 0px;
  }
}

.stacking-container .layer-3 {
  z-index: 3;
  left: 0;
  right: 0;
  margin: 0 auto;
  bottom: 0;
  width: 240px;
  height: 400px;
  background-image: url('../../assets/tun.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.stacking-container .layer-4 {
  z-index: 4;
  height: 360px;
  width: 150px;
  background-image: url('../../assets/goomba.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top;
  bottom: 0;
  left: 0px;
  /* Animation */
  animation-name: layer4;
  animation-duration: 1.5s;
  /* Aceleración */
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

@keyframes layer4 {
  0% {
    bottom: 0px;
  }
  25% {
    bottom: -72px;
  }
  100% {
    bottom: 0px;
  }
}

.stacking-container .layer-5 {
  z-index: 5;
  left: 0;
  margin: 0 auto;
  bottom: 0;
  width: 180px;
  height: 260px;
  background-image: url('../../assets/tun.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.stacking-container .layer-6 {
  z-index: 6;
  height: 170px;
  width: 150px;
  background-image: url('../../assets/goomba.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top;
  bottom: 0;
  right: 0px;
  /* Animation */
  animation-name: layer6;
  animation-duration: 1s;
  /* Aceleración */
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

@keyframes layer6 {
  0% {
    bottom: 0px;
  }
  25% {
    bottom: 115px;
  }
  100% {
    bottom: 0px;
  }
}

.stacking-container .layer-7 {
  z-index: 7;
  right: 18px;
  margin: 0 auto;
  bottom: 0;
  width: 120px;
  height: 180px;
  background-image: url('../../assets/tun.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.stacking-container .layer-8 {
  z-index: 8;
  right: 0px;
  margin: 0 auto;
  bottom: -5px;
  width: 120px;
  height: 50px;
  background-image: url('../../assets/arbusto.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.stacking-container .layer-9 {
  z-index: 9;
  left: 0px;
  margin: 0 auto;
  bottom: -5px;
  width: 120px;
  height: 50px;
  background-image: url('../../assets/arbusto.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.stacking-container .layer-10 {
  z-index: 10;
  right: 50px;
  margin: 0 auto;
  bottom: -5px;
  width: 190px;
  height: 75px;
  background-image: url('../../assets/arbusto.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}